<h3 id="slots">Slots</h3>
<div class="table-responsive">
  <table class="table table-sm table-hovered">
    <thead>
    <tr>
      <th>Name</th>
      <th>Props</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><code>node</code></td>
      <td><code>{node,width,height}</code></td>
      <td>
        Yes, every node can have any view component!
        Slot scoped params:
        <div><code>node</code> - <a href="#node">Node</a></div>
        <div><code>width</code> - content part width</div>
        <div><code>height</code> - content part height</div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
