<h3 id="data-structure">Data structure</h3>
The data structure of the Vue-Diagram-Editor has 2 main entities -
<a href="#node">Node</a> and <a href="#link">Link</a>.
The Vue-Diagram-Editor has the following data structure:
<div class="code-wrapper"><textarea data-lang="application/json">{{files.structure}}</textarea></div>
