<header>
  <div class="container d-flex align-items-center justify-content-between">
    <a class="navbar-brand" href="{{homepage}}">
      <img src="static/vue-logo.png" width="30" height="30" class="d-inline-block align-top" alt="Vue Diagram Editor">
      Vue<strong>DiagramEditor</strong>
    </a>
    <div class="d-flex align-items-center">
      <code class="mr-3">v{{version}}</code>
      <a class="github-button" href="https://github.com/max-kut/vue-diagram-editor" data-show-count="true" aria-label="Star max-kut/vue-diagram-editor on GitHub">Star</a>
    </div>
  </div>
</header>
