.diagram-editor__wrapper {
  position: relative;

  svg {
    user-select: none;
    font-family: Helvetica, sans-serif;
  }
}

.diagram-editor__node-body {
  background-color: transparent;
}

.diagram-editor__delete {
  cursor: pointer;

  rect {
    fill: #fff;
    fill-opacity: 0.25;
  }

  line {
    stroke: rgb(0, 0, 0);
    stroke-width: 2;
  }
}

.diagram--editor__pulse {
  animation-duration: 2s;
  animation-name: diagram-editor--node-pulse;
  animation-iteration-count: infinite;
}

@keyframes diagram-editor--node-pulse {
  0% {
    fill-opacity: 0;
    stroke-width: 0;
  }
  50% {
    fill-opacity: 1;
    stroke-width: 8;
  }
  100% {
    fill-opacity: 0;
    stroke-width: 0;
  }
}
