.diagram-editor__wrapper {
  position: relative;

  svg {
    user-select: none;
    font-family: Roboto, sans-serif;
  }
}

.diagram-editor__node-body {
  background-color: transparent;
}

.diagram-editor__delete {
  cursor: pointer;
  margin: 1px;

  rect {
    fill: rgba($color: #fff, $alpha: 0.3);
    fill-opacity: 0.25;
  }

  line {
    stroke: rgb(0, 0, 0);
    stroke-width: 2;
  }
}

.diagram--editor__pulse {
  animation-duration: 2s;
  animation-name: diagram-editor--node-pulse;
  animation-iteration-count: infinite;
}

@keyframes diagram-editor--node-pulse {
  0% {
    fill-opacity: 0;
    stroke-width: 0;
  }
  50% {
    fill-opacity: 1;
    stroke-width: 8;
  }
  100% {
    fill-opacity: 0;
    stroke-width: 0;
  }
}

.diagram-editor__animated {
  stroke-dasharray: 10;
  stroke-dashoffset: 1000;
  animation: diagram-editor--link-pulse 50s linear infinite;
}

@keyframes diagram-editor--link-pulse {
  to {
    stroke-dashoffset: 0;
  }
}

.diagram-editor__animated0 {
  stroke-dasharray: 10;
  stroke-dashoffset: 1000;
  animation: diagram-editor-lr--link-pulse 50s linear infinite;
}

.diagram-editor__animated1 {
  stroke-dasharray: 10;
  stroke-dashoffset: 1000;
  animation: diagram-editor-rl--link-pulse 50s linear infinite;
}


@keyframes diagram-editor-lr--link-pulse {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes diagram-editor-rl--link-pulse {
  from {
    stroke-dashoffset: 0;
  }
}
